name: WakaTime Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          GH_TOKEN: ${{ secrets.GH_PAT }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}

          SHOW_TIMEZONE: true
          SHOW_TOTAL_CODE_TIME: true
          SHOW_LINES_OF_CODE: true
          SHOW_PROJECTS: true
          SHOW_LANGUAGE: true
